<p>Utilities is a collection of inexpensive functions for pulling small amounts of data from core Drupal objects, nodes, users, files and comments. Sometimes you need to get a small piece of data, for example, the author id of  a node, many times over in a page. Drupal's API provides node_load, which is great, but it can get a bit expensive if you have to call it hundreds of times.</p>
<h2>Node Functions</h2>
<p><strong>simple_utilities_nodeTitle($nid)<br />
</strong>Returns a node title.<br />
Parameter =  node ID.</p>
<p><strong>simple_utilities_nodeUid($nid)<br />
</strong>Returns a node author's user ID.<br />
Parameter =  node ID.</p>
<p><strong>simple_utilities_nodeType($nid)<br />
</strong>Returns a node's type.<br />
Parameter =  node ID.</p>
<p><strong>simple_utilities_nodeTaxonomy($nid)<br />
</strong>Returns a node's taxonomy as an associative array of data for each term.<br />
Parameter =  node ID.</p>
<ul>
  <li>'tid' = The term ID </li>
  <li>'term_name' = The term name </li>
  <li>'desc' = The term description</li>
  <li>'weight' = The term weight</li>
  <li>'vid' = The vocabulary ID </li>
  <li>'vocabulary_name' = The vocabulary name <br />
  </li>
</ul>
<p><strong>simple_utilities_nodeStatus($nid)<br />
</strong>Returns a node's published status.<br />
Parameter =  node ID.</p>
<p><strong>simple_utilities_nodeSticky($nid)<br />
</strong>Returns a node's sticky property.<br />
Parameter =  node ID.</p>
<p><strong>simple_utilities_nodePromoted($nid)<br />
</strong>Returns a node's promoted to front page property.<br />
Parameter =  node ID.</p>
<p><strong>simple_utilities_nodeDates($nid)<br />
</strong>Returns a node's last revision date and creation date as an array of timestamps.<br />
Parameter =  node ID.</p>
<ul>
  <li>'created' = The creation date of the Node</li>
  <li>'changed' = The date of the last change</li>
</ul>
<p><strong>simple_utilities_nodeLastCommentData($nid)<br />
</strong>Returns a data on the node's last comment as an associative array.<br />
Parameter =  node ID.</p>
<ul>
  <li>'cid' = Comment ID</li>
  <li>'timestamp' = Comment timestamp</li>
  <li>'uid' = Comment author user id,</li>
  <li> 'username' = Comment author username</li>
  <li>'count' = The total number of comment on the node.</li>
</ul>
<h2>User Functions</h2>
<p><strong>simple_utilities_userName($arg) </strong><br />
  Return the user name.<br />
  Parameter = user ID or the user email.</p>
<p><strong>simple_utilities_userStatus($arg)</strong><br />
  Returns the user status.<br />
Parameter = user ID or the user email.</p>
<p><strong>simple_utilities_userCreationDate($arg)</strong><br />
  Returns the user creation date as a timestamp.<br />
Parameter =  user ID or the user email. </p>
<p><strong>simple_utilities_userEmail($uid)</strong><br />
  Returns the user email.</p>
<p><strong> simple_utilities_userLogin($arg)</strong><br />
  Returns a user last login as a timestamp.<br />
  Parameter =  user ID or the user email. </p>
<p><strong>simple_utilities_userAccess($arg)</strong><br />
  Returns a user's last access as a timestamp.<br />
  Parameter =  user ID or the user email. </p>
<p><strong>simple_utilities_userPicture($arg)</strong><br />
Returns a user's picture data as an associative array.<br />
Parameter =  user ID or the user email. </p>
<ul>
  <li>filename</li>
  <li>path_to_file = Path to File </li>
  <li>mimetype</li>
  <li>size = in Bytes</li>
  <li>status</li>
  <li>timetamp = upload date</li>
</ul>
<p><strong>simple_utilities_userRoles($arg)</strong><br />
Returns a user's roles as an associative array.<br />
Parameter =  user ID or the user email.</p>
<ul>
  <li>'name' = role name</li>
  <li>'rid' = role ID</li>
  <li>'weight' = role weight</li>
</ul>
<h2>Comment Functions</h2>
<p><strong>simple_utilities_commentData($cid)</strong><br />
Returns data on a comment as an associative array.<br />
Parameter =  comment ID.</p>
<ul>
  <li>title</li>
  <li>nid = The id of the node the comment is attached to</li>
  <li>status = approved or in moderation queue</li>
  <li>name = The comment author's name</li>
  <li>uid = The commnent author's user id</li>
  <li>homepage = The comment author's website</li>
  <li>hostname = Hostname of the user who posted the comment</li>
  <li>pid = The comment id of the it's parent comment</li>
  <li>thread = The depth of the comment if it's threaded</li>
  <li>created = Creation date timestamp</li>
  <li>body = The body of the comment</li>
</ul>
<h2>File Functions</h2>
<p><strong>function core_simple_utilities_fileData($fid)</strong><br />
Return data on a file as an associative array.<br />
Parameter =  file ID.</p>
<ul>
  <li>filename</li>
  <li>path_to_file = Path to File </li>
  <li>mimetype</li>
  <li>size = in Bytes</li>
  <li>status</li>
  <li>timetamp = upload date</li>
</ul>
<p><strong>simple_utilities_fileUseCount($fid)</strong><br />
  Returns an file's usage count.<br />
Parameter =  file ID.</p>
